<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HostU Admin | CHANGE THIS</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
    <div class="navbar">
        <div class="logo">
            <div class="host-u-logo-text">
                host u |
            </div>
            <div class="host-u-admin-dashboard-text">
                Admin Dashboard
            </div>
        </div>
        <a href="#queries">Queries</a>
        <a href="#help">Help</a>
        <a href="#account">Account</a>
        <a href="#home">Home</a>
    </div>
    <div class="content">
        <h1>Welcome to the Homepage</h1>
    </div>
    <div class="signature">
        Created by Daniel Ip
    </div>
</body>
</html>
