.create-query-div {
    display: flex; /*flex*/
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 60%;
    padding: 20px;
}

.text-box {
    width: 100%;
    min-height: 200px; /* Adjust height as needed */
    background-color: white;
    border: 2px solid #a5a5a5;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    resize: none;
    font-family: 'Arial', sans-serif; /* Change to desired font family */
    font-size: 16px; /* Adjust font size as needed */
    color: black; /* Change placeholder text color */
}

.text-box:focus {
    border-color: #4bb5e2; /* Blue outline when selected */
    outline: none;
}

.text-box::placeholder {
    font-family: 'Arial', sans-serif; /* Change to desired font family */
    font-size: 16px; /* Adjust font size as needed */
    color: #7e7e7e; /* Change placeholder text color */
}

.description {
    width: 100%;
    text-align: left;
    font-size: 16px; /* Adjust font size as needed */
    margin-bottom: 10px; /* Space between description and text box */
}

.run-button {
    margin-top: 10px; /* Space between text box and button */
}